body {

background-color: rgb(55, 67, 136);
  
/*   margin-top: 10%; */
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
    background-image: linear-gradient(
  #3f57b0,
  #b867d3,
  #e84c44,
  #e88744,
  #e7cf57);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 450px;
  width: 600px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: white;
/*   font-size: 10px; */
}

